/*z-index setting*/


/* .mainWrap #pano auto
    .mainWrap .headBar 2
    .mainWrap .menu 2
    .mainWrap overlay 1
    other Wraps 3*/
/*style*/
 html,body{
    width: 100%;
    height: 100%;
    background: #eee;
    font-family: Arial,Helvetica,'Heiti SC','Microsoft Yahei',simsun,sans-serif;
    font-size: 12px;
    color:#000;
    margin: 0 auto;
    overflow-x:hidden;
    overflow-y:hidden;
    line-height: 1.6;  
}
*,*:before,*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
}
img{margin: 0 auto}
body{position: relative;}
.clearfix{clear: both;}
/*fonts*/
.en{}
a{color: #fff;text-decoration: none;}
.dn{display: none}
.swiper-container {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;    
}
.mainWrap{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/jpg/index-bg.jpg');
    background-size: cover
}
.loadWrap, .videoWrap, .galleryWrap, .shopWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.loadWrap{
    background-color: rgba(25,25,25,0.3);
    z-index: 9;
}
.videoWrap, .galleryWrap, .shopWrap{
    transition: all 350ms ease-in-out;
    transform: translate3d(0,100%,0);
}
.videoWrap.visible, .galleryWrap.visible, .shopWrap.visible{
    transform: translate3d(0,0,0);
    z-index: 3;
}
.videoWrap:after, .shopWrap:after, .galleryWrap:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/jpg/video-bg.jpg'); 
    width: 100%;
    height: 100%;
    opacity : 0.98;
    z-index: -1;
}
.videoContainer, .galleryContainer, .shopContainer{
    padding-top: 0.4rem;
    width: 82%;
    margin: 0 auto;
    position: relative;
}
.videoContainer .titleImg, .galleryContainer .titleImg, .shopContainer .titleImg{
    width: 100%;
}
.videoContainer p{
    margin: 0.2rem auto;
    width: 100%;
    text-align: center;
    color: #fff;
}
.videoContainer iframe{
    width: 100%;
    height: auto;
    margin-top: 0.2rem;
}
/*mainWrap part*/
#pano{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
/*pano part*/
.mainWrap .headBar{position: absolute;top: 0;left: 0;z-index: 2}
.mainWrap .overlay{position: absolute;top: 0;left: 0;background-color: rgba(15,15,15,0.4);z-index: 1;width: 100%;height: 100%}

/* menu part*/
.menu{
    position: absolute;
    top: 1.6rem;
    z-index: 2;
    left: 0;
    width: 50%;
    height: auto;
    overflow: scroll;
    background-image: url('../img/jpg/menu-bg.jpg');
    background-size: cover;
    transform: translate3d(-100%,0,0);
    transition: all 250ms ease-in-out;
}
.menu.visible{
    transform: translate3d(0,0,0);
}
.menu >img{width: 80%;display: block;}
.menu a img{
    width: 100%;
    display: block;
}
.menu > img{
    padding: 0.1rem 0;
}
.menu a{
    width:80%;
    margin: 0 auto;
    position: relative;
    padding: 0.1rem 0;
    display: block;
    color: #fff;
    font-size: 10px;
    text-align: center;
}
.menu.oversize a{
    padding: 0.08rem 0;
}
.menu a:last-child{
    padding: 0
}
/*menu part*/

/* gallertWrap part */
.galleryImg{
    position: relative;
    float: left;
    width: 47.5%;
    height: 2.5rem;
    background-color: #fff;
    margin-top: 0.3rem;
}
.galleryImg:nth-child(2n+1){
    margin-right: 5%;
}
.gallery-container{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 1rem;
    margin-top: 0.8rem;
    height: 8rem;
}
.galleryContainer .swiper-btn{
    width: 7%;
    top: 1rem;
    height: 8rem;
    margin-top: 0.8rem;
    background: none;
}
.galleryContainer .swiper-button-prev{left: -1%;}
.galleryContainer .swiper-button-next{right: -1%;}
.galleryContainer .swiper-btn img{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    height: 24px;
}
.galleryContainer .swiper-button-prev img{left: 5px}
.galleryContainer .swiper-button-next img{right: 5px}
/* gallertWrap part */
/* shopWrap part */
.shopContent{position: relative;}
.shopBtn{
    position: relative;
    display: block;
    margin:0 auto;
    border: 1px solid #fff;
    font-size: 0.32rem;
    line-height: 0.64rem;
    text-align: center;
    width: 50%;
}
.shopContainer .swiper-btn{
    position: absolute;
    height: 3rem;
    display: block;
    width: 5%;
}
.shopContainer .swiper-btn img{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    height: 24px;
}
.shopContainer .shop-button-prev{left: -4%}
.shopContainer .shop-button-next{right: -4%}

.ring-info{
    min-height: 2.5rem;
}
.shopContainer .swiper-button-prev, .shopContainer .swiper-button-next{
    width: 7%;
    top: 1rem;
    height: 8rem;
    margin-top: 0.8rem;
    background: none;
}
.shopContainer .swiper-button-prev{left: -1%;}
.shopContainer .swiper-button-next{right: -1%;}
.shopContainer .swiper-button-prev img, .shopContainer .swiper-button-next img{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    height: 24px;
}
.shopContainer .swiper-button-prev img{left: 5px}
.shopContainer .swiper-button-next img{right: 5px}
.ring-container{
    height: 3rem;
}
.ring-container .swiper-slide {
    height:80%;
    top: 10%;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.8)
}
.ring-container .swiper-slide-next {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ring-container .swiper-slide img{
    clear:both;
    display:block;
    margin:auto;
}
/* shopWrap part */
/*load container part*/
.loadContainer{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top:50%;
    margin-top: -50px;
    text-align: center;
    transition: all 600ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
}
#loadCircle{
    position: absolute;
    top:0;
    left: 0;
    opacity: 1;
}
.numContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 2;
    display: table;
}
.loadNum{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 28px;
    opacity: 1;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
}
.loadContainer .logoContainer{
    display: none;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    display: none;
}
.loadContainer .loadLogo{
    width: 72%;
    opacity: 0;
    display: none;
}
.loadSpinner{
    display: none;
    width: 100%;
}
.loadContainer.expand{
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -80px;
}
.loadNum.hide{
    opacity: 0;
}
.loadContainer.expand .logoContainer{
    display: table-cell;
}
.loadContainer.expand .loadLogo{
    opacity: 1;
    display: block;
}
.loadSpinner.rotating{
    display: block;
    animation: rotating 6000ms infinite linear;
}
@keyframes rotating {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/*load container part */
/*headBar part*/
.headBar{
    width: 100%;
    background-color: transparent;
    min-height: 1.6rem;
}
.headBar > img{
    display: block;
    width: 3.6rem;
    padding-top: 0.4rem
}
.headBar > a{
    /*display: block;*/
    position: absolute;
}
.headBar > a:first-of-type{
    left: 0.6rem;
    top: 0.43rem;
    width: 0.44rem;
}
.headBar > a:nth-of-type(2){
    right: 0.6rem;
    top: 0.4rem;
    width: 0.4rem;
}
.headBar > a > img{
    width: 100%;
    display: block;
}
/*headBar part*/
