/*z-index setting
.mainWrap #pano auto
    .mainWrap .headBar 2
    .mainWrap .menu 2
    .mainWrap overlay 1
    other Wraps 3*/
/*style*/
@font-face {
    font-family: 'gotham';
    src: url('Gotham-Light.otf');
}
 html,body{
    width: 100%;
    height: 100%;
    background: #eee;
    font-family: Arial,Helvetica,'Heiti SC','Microsoft Yahei',simsun,sans-serif;
    font-size: 12px;
    color:#fff;
    margin: 0 auto;
    overflow-x:hidden;
    overflow-y:hidden;
    line-height: 1.6;  
}
*,*:before,*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
}
img{margin: 0 auto}
body{position: relative;}
.clearfix{clear: both;}
/*fonts*/
.en{font-family: 'gotham'}
a{color: #fff;text-decoration: none;}
.dn{display: none}
.swiper-container {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.tag-img{opacity: 0;z-index: -1;position: absolute;width: 1px;}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;    
}
.mainWrap{
    position: relative;
    width: 100%;
    height: 100%;
    /*background-image: url('../img/jpg/index-bg.jpg');*/
    background-size: cover
}
.loadWrap, .videoWrap, .galleryWrap, .shopWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.loadWrap{
    /*background-color: transparent;*/
    background-image: url('../img/jpg/index-bg.jpg');
    background-size: cover;
    z-index: 9;
}
.videoWrap, .galleryWrap, .shopWrap{
    transition: all 350ms ease-in-out;
    transform: translate3d(0,100%,0);
    background-image: url('../img/jpg/video-bg.jpg'); 
    background-size: cover;
}
.videoWrap.visible, .galleryWrap.visible, .shopWrap.visible{
    transform: translate3d(0,0,0);
    z-index: 3;
}

.videoContainer, .galleryContainer, .shopContainer{
    padding-top: 0.4rem;
    width: 82%;
    margin: 0 auto;
    position: relative;
}
.videoContainer .titleImg, .galleryContainer .titleImg, .shopContainer .titleImg{
    width: 100%;
}
.videoContainer p{
    margin: 0.2rem auto;
    width: 100%;
    text-align: center;
    color: #fff;
}
.videoContainer iframe{
    width: 100%;
    height: auto;
    margin: 0.2rem auto;
    /*min-height: 3.8rem;*/
    background-color: #000;

}

/*mainWrap part*/
#pano{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.9;
}
/*pano part*/
.mainWrap .headBar{position: absolute;top: 0;left: 0;z-index: 2}
.mainWrap .overlay{position: absolute;top: 0;left: 0;background-color: rgba(215,215,215,0.4);z-index: 1;width: 100%;height: 100%}
.mainWrap .navi{   
    position: absolute;
    top: 50%;
    width: 120px;
    z-index: 2;
    height: 48px;
    margin: 0 auto;
    left: 50%;
    margin-left: -60px;
    margin-top: -24px;
}
.navi.fadeOut, .overlay.fadeOut{animation: blur 1600ms normal forwards linear;}

@keyframes blur {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* menu part*/
.menu{
    position: absolute;
    top: 1.5rem;
    z-index: 2;
    left: 0;
    width: 50%;
    height: auto;
    overflow: scroll;
    background-size: cover;
    transform: translate3d(-100%,0,0);
    transition: all 250ms ease-in-out;
}
.menu.visible{
    transform: translate3d(0,0,0);
}
.menu >img{width: 80%;display: block;}
.menu a img{
    width: 100%;
    display: block;
}
.menu > img{
    padding: 0.1rem 0;
}
.menu a{
    width:85%;
    margin: 0 auto;
    position: relative;
    padding: 0.15rem 0;
    display: block;
    color: #fff;
    font-size: 10px;
    text-align: center;
}
.menu.oversize a{
    padding: 0.08rem 0;
}
.menu a:last-child{
    padding: 0
}
/*menu part*/

.swiper-btn{outline: none;}
/* gallertWrap part */
.galleryImg{
    position: relative;
    float: left;
    width: 47.5%;
    height: 2.6rem;
    background-color: #fff;
    margin-top: 0.3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
}
.galleryImg:nth-child(2n+1){
    margin-right: 5%;
}
.galleryImg:nth-child(5){
    width: 100%;
    margin: 0.3rem auto 0 auto;
}
.gallery-container{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 1.2rem;
    height: 8rem;
}
.gallery-container .swiper-slide img{width: 100%;display: block;}
.galleryContainer .swiper-btn{
    width: 7%;
    top: 1.6rem;
    height: 8rem;
    background: none;
    cursor: none;
}
.galleryContainer .swiper-button-prev{left: -2%;}
.galleryContainer .swiper-button-next{right: -2%;}
.galleryContainer .swiper-btn img{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    height: 24px;
}
.galleryContainer .swiper-button-prev img{left: 5px}
.galleryContainer .swiper-button-next img{right: 5px}
/* gallertWrap part */
/* shopWrap part */
.shopContent{position: relative;}
.shopBtn{
    position: relative;
    display: block;
    margin:0 auto;
    border: 1px solid #fff;
    font-size: 0.32rem;
    line-height: 0.64rem;
    text-align: center;
    width: 50%;
}
.shopContainer .swiper-btn{
    position: absolute;
    height: 3rem;
    display: block;
    width: 8%;
    top: 0
}
.shopContainer .swiper-btn img{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    height: 24px;
}
.shopContainer .shop-button-prev{left: -8%}
.shopContainer .shop-button-next{right: -8%}
.shopContainer .shop-button-prev img{right: 0}
.shopContainer .shop-button-next img{left: 0}
.ring-brief{margin: 0 auto;text-align: center;}
.ring-info{
    min-height: 2.5rem;
    margin: 0.5rem auto;
}
.ring-container{
    height: 3rem;
}
.ring-container .swiper-slide {
    height:80%;
    top: 10%;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.0.75)
}
.ring-container .swiper-slide-active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ring-container .swiper-slide img{
    width: 100%;
    clear:both;
    display:block;
    margin:auto;
}
/* shopWrap part */
/*load container part*/
.loadContainer{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top:50%;
    margin-top: -50px;
    text-align: center;
    transition: all 600ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
}
#loadCircle{
    position: absolute;
    top:0;
    left: 0;
    opacity: 1;
}

.r-progress-bar{
    position: absolute;
      top: 0;left: 0;
}
.r-progress-bar > circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 250ms linear;
    -webkit-transition: stroke-dashoffset 250ms linear;
    -moz-transition: stroke-dashoffset 250ms linear;
    stroke: #fff;
    stroke-width: 3px;
}
.r-progress-bar > .bar {
  stroke: #fff;
  transform:rotate(-45deg);
  transform-origin:50% 50%;
}
.numContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 2;
    display: table;
}
.loadNum{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 28px;
    opacity: 1;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
}
.loadContainer .logoContainer{
    display: none;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    display: none;
}
.loadContainer .loadLogo{
    width: 72%;
    opacity: 0;
}
.loadSpinner{

    width: 100%;
}
.loadContainer.expand{
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -80px;
}
.loadNum.hide{
    opacity: 0;
}
.loadContainer.expand .logoContainer{
    display: table-cell;
}
.loadContainer.expand .loadLogo{
    opacity: 1;
    display: block;
}
.loadSpinner.rotating{
    display: block;
    animation: rotating 6000ms infinite linear;
    -webkit-animation:rotating 6000ms infinite linear; 
    -moz-animation:rotating 6000ms infinite linear;
}
@-webkit-keyframes rotating{
  from  { -webkit-transform: rotate(0deg)}
  100% { -webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotating{
  0%   {-moz-transform: rotate(0deg)}
  100% { -moz-transform: rotate(360deg)}
}
@keyframes rotating{
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/*@keyframes rotating {
    from {-moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);}
}*/
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(10,10,10,0.2);
}
#container img{
    position: absolute;
    width: 100%;
    height: 100%
}
#container canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
/*load container part */
/*headBar part*/
.headBar{
    width: 100%;
    background-color: rgba(10,10,10,0.2);
    min-height: 1.5rem;
}
.headBar > img{
    display: block;
    width: 3rem;
    padding-top: 0.4rem
}
.headBar > a{
    /*display: block;*/
    position: absolute;
}
.headBar > a:first-of-type{
    left: 0.6rem;
    top: 0.43rem;
    width: 0.84rem;
    padding: 0.2rem;
}
.headBar > a:nth-of-type(2){
    right: 0.6rem;
    top: 0.4rem;
    width: 0.8rem;
    padding: 0.2rem;
}
.headBar > a > img{
    width: 100%;
    display: block;
}
/*headBar part*/


/*animation*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  50% {opacity: 1;}
}
@keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  50% {opacity: 1;}
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
  from {opacity: 1;}
  50% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  to {opacity: 0;}
}

@keyframes zoomOut {
  from {opacity: 1;}
  50% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  to {opacity: 0;}
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}


/*clipPath css*/
.clip[style] {
    opacity: 1;
}
.active .clip:not([style]) {
    opacity: 1;
    animation: fadeOut .1s .4s both;
}
.active .clip[style] {
    will-change: transform;
    animation: noTransform .5s both;
}

@keyframes noTransform {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(0);
    }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

